body {
  background: #f7f7f7;
  font-family: 'Work Sans', sans-serif;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  letter-spacing: -0.06em;
  color: rgb(7, 7, 7);
  text-align: center;
  padding-bottom: 10px;
  position: relative;
}

p {
  color: #070707;
  width: auto;
  height: 100px;
  font-size: 16px;
  left: 0px;
  top: 31px;
  letter-spacing: -0.06em;
  line-height: 19px;
  text-align: center;
  position:relative;
  display: block;



}


input {
  display:inline-block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #E0E0E0;
  width: unset;
  width: 166px;
  height: 56px;
  padding: 10px 15px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
}
  

label {
  width: unset;
  display:inline;
  margin-top: 6px;
  color: #020202;
  font-size: 14px;
  font-weight: 200;
  margin-left: .9rem;
  clear: none;
  font-family: 'Work Sans', sans-serif;


}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  width: unset;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    border: 1px solid #E0E0E0;
    background: rgba(241, 242, 243, 0.1);
    display:inline-block;
    left: 25%;
    position: relative;
    margin-left: 15%;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 9px;
    background: #f5f1f4;
    position: absolute;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 50%;
    bottom: 30%;
    border: 3px solid #60C49F;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}


.buyer{
  border: 1px solid #E0E0E0;
  background: rgba(247, 250, 249, 0.1);
  width: 166px;
  height: 56px;
  display:inline-flex;
  /* left: 25%; */
  margin-left: 15%;

}
.seller{
  border: 1px solid #E0E0E0;
  width: 166px;
  height: 56px;
  display:inline-flex;
  margin-left: 15%;
  
}









button[type="submit"],
input[type="submit"] {
  background: #242424;
  font-family: 'Work Sans', sans-serif;
  border: 1px solid #E0E0E0;
  letter-spacing: -0.06em;
  line-height: 19px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border: 1px solid #E0E0E0;
  margin-top: 40px;
  padding: 20px;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 10px;
  cursor: pointer;
  align-items: center;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #242424;
  font-family: 'Work Sans', sans-serif;

}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}




hr {
  margin-top: 30px;
}

h2 {
  color: rgb(8, 8, 8);
  font-weight: 200;
}

/* button {
  display: flex;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
} */

/* pre {
  color: rgb(39, 116, 4);
  white-space: pre;
} */
